body {
font-family: 'Montserrat', sans-serif;

}



/* TITLE */

h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 0;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.navbar {
  margin-right: 2%;
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 0;
  text-transform: lowercase;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 300;
}

.title_container {
  margin-bottom: 0;
  height: 500px;
}

#iphone6 {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

#title {
  background-color: #ff4c68;
}

/* FEATURES */

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.features-col {
  text-align: center;
  margin-bottom: 1rem;
}

.features-icon {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

p {
  color: #8f8f8f;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
  color: white;
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {

background-color: #ef8172;
padding: 0 15% 7%;
text-align: center;
}

.press-img {
  width:20%;
  margin: 0 15px;
}

/* Pricing */

#pricing {
padding: 100px;
text-align: center;
}

.pricing_column {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 8% 20%;
}

#footer {
  background-color: white;
  text-align: center;
  padding: 10% 15%;
}

.social_media_icons {
  color: #8f8f8f;
  font-size: 1.2rem;
  margin: 1% 2%;
}

.social_media_icons:hover {
  color:black;
}

@media (max-width:1080px) {
  #iphone6 {
    position: static;
    width: 40%;
    transform: rotate(0);
  }
  .title_container {
    text-align: center;
    height: auto;
    padding-bottom: 3rem;
  }
  #features {
    position: static;
  }
}

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif; */
